/* Fonts */
@font-face {
    font-family: "Free Pixel";
    src: url("./free_pixel.woff2") format("woff2");
}

/* Terminal */
#terminal {
	background-color: #000000;
	color: #ffffff;
	display: flex;
	flex-direction: column-reverse;
	font-family: "Free Pixel";
	font-size: 15px;
	height: calc(100% - 10px);
	line-height: 15px;
	overflow-y: auto;
	padding: 5px 10px;
	width: calc(100% - 20px);
}

/* Line */
.line {
	min-height: 1em;
	position: relative;
	white-space: break-spaces;
	word-break: break-all;
	z-index: 10;
}

/* Overlay */
#overlay {
	left: 0px;
	pointer-events: none;;
	position: absolute;
	top: 0px;
	user-select: none;
}

/* Cursor */
#cursor {
	background-color: #ffffff;
	display: inline-block;
	user-select: none;
}

.cursor-underscore {
	height: 1px;
	transform: translateY(1em);
}

.cursor-overlayed {
	opacity: 50%;
}